<div class="profile">
    <aside class="profile__back">
        <img src="./icons/buttonArrow.svg" alt="back">
    </aside>

    <main class="profile__information">
        <div class="profile__avatar">
            {{> UploadAvatar isVisibleModalChangeAvatar=isVisibleModalChangeAvatar isError=isErrorUploadAvatar }}
        </div>

        <div class="profile__name">
            Иван
        </div>

        <{{#ifLogicOr isChangeData isChangePassword}}form{{else}}div{{/ifLogicOr}}>
            {{#if isChangePassword}}
                <div>
                    {{> ProfileRow label="Old password" value="test2001" isPassword=true isEditting=isChangePassword name="oldPassword"}}
                    <hr>
                    {{> ProfileRow label="New password" value="text2001New" isPassword=true isEditting=isChangePassword name="newPassword"}}
                    <hr>
                    {{> ProfileRow label="Repeat new password" value="text2001New" isPassword=true isEditting=isChangePassword name="rePassword"}}
                </div>
            {{else}}
                <div>
                    {{> ProfileRow label="Email" value="pochta@yandex.ru" isEditting=isChangeData name="email"}}
                    <hr>
                    {{> ProfileRow label="Login" value="ivanivanov" isEditting=isChangeData name="login"}}
                    <hr>
                    {{> ProfileRow label="Name" value="Иван" isEditting=isChangeData name="first_name"}}
                    <hr>
                    {{> ProfileRow label="Lastname" value="Иванов" isEditting=isChangeData name="second_name"}}
                    <hr>
                    {{> ProfileRow label="Name in chat" value="Иван" isEditting=isChangeData name="display_name"}}
                    <hr>
                    {{> ProfileRow label="Phone" value="+7 (909) 967 30 30" isEditting=isChangeData name="phone"}}
                </div>
            {{/if}}
        </{{#ifLogicOr isChangeData isChangePassword}}form{{else}}div{{/ifLogicOr}}>


        {{#ifLogicOr isChangeData isChangePassword}}
            <div class="profile__button_save">
                {{> Button text="Save"}}
            </div>
        {{else}}
            <div class="profile__buttons">
                {{> Button isLink=true text="Change data"}}

                <hr>

                {{> Button isLink=true text="Change password"}}

                <hr>

                {{> Button isLink=true text="Logout" isDanger=true}}
            </div>
        {{/ifLogicOr}}
    </main>
</div>