@import "../../assets/styles/colors";

.authForm {
  width: 340px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 $box_shadow;
  min-height: 450px;
  padding: 30px;

  form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 390px;
    gap: 40px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}
