<div class="chatSearch">
    <div class="chatSearch__profile">
        <button>Profile</button>
        <img src="./icons/arrow.svg" alt="arrow">
    </div>

    <div class="chatSearch__search">
        {{> InputSearch }}
    </div>
</div>
