@import "../../assets/styles/colors";

.chatSearch {
  padding: 0 10px;

  &__profile {
    margin-bottom: 28px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    cursor: pointer;
    align-items: center;

    button {
      background: transparent;
      border: none;
      outline: none;
      color: $gray;
      cursor: pointer;
    }
  }

  &__search {
    margin-bottom: 14px;
  }
}