<div class="inputSearch">
    <label>
        <input name="search" type="text" required>

        <span class="inputSearch__placeholder">
            <img src="./icons/search.svg" alt="">
            Search
        </span>

        <span class="inputSearch__prefix">
            <img src="./icons/search.svg" alt="">
        </span>
    </label>
</div>