$white: #FFFFFF;
$black: #000000;

$light_gray: #EFEFEF;
$light_gray_2: #EAEAEA;
$light_gray_3: #FBFBFB;
$light_gray_4: #E4EDFD;
$light_gray_5: #F1F1F1;
$light_gray_6: #F8F8F8;

$gray: #999999;

$scrollbar_thumb: #d0d0d0;
$scrollbar_thumb_hover: #c7c7c7;

$box_shadow: #00000024;

$blue: #3369F3;
$blue_hover: #1D4ECE;
$light_blue: #E4EDFD;

$error: #FF2F2F;
